* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    width: 80%;
    margin: 2% 0 0 7%;
}

h2 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
}

button {
    margin: 30px;
    font-size: 36px;
    padding: 5px;
    outline: none;
    border: 2px solid thistle;
    border-radius: 10px;
}

.first-button {
    margin-left: 20%;
    padding: 10px;
}

.Second-button {
    margin-left: 25%;
}

.first-button button {
    width: 280px;
    height: 100px;
    background-color: rgb(255, 89, 89);
    color: white;
    letter-spacing: 1.2px;
    font-weight: bolder;
}

.Second-button button {
    width: 250px;
    height: 100px;
    background-color: midnightblue;
    color: white;
    letter-spacing: 1.2px;
    font-weight: bolder;
}

.Answer-box {
    border: 2px solid black;
    padding: 3%;
}

#Result {
    border: 2px soild black;
    text-align: center;
    font-size: 50px;
}